* { 
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
}


/* header */

header {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px 22px;
    margin-bottom: 11px;
}

header ion-icon {
    font-size: 42px;
}

header img {
    width: 72px;
}

/* header */


/* main body */

.inOut {
    background-color: #d3d3d3;
    margin-left: 5px;
    padding: 10px;
}

.privately {
    background-color: #ffcbdb;
}

.time {
    color:#AAAAAA;
}

.userName {
    font-weight: 700;
}



/* main body */




footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.divFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 25px 17px;
}

.divFooter input {
    border: none;
    box-shadow:none;
    outline: none;
    width: 85%;
}

.divFooter ion-icon {
    font-size: 26px;
}